/* Overall container for centering */
.register-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    height: 100vh; /* Full viewport height */
}

/* Form container */
.register-form {
    max-width: 300px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
}

/* Title style */
.title {
    margin-bottom: 20px;
    text-align: center;
    color: #000000;
}

/* Form group for inputs */
.form-group {
    margin-bottom: 15px;
}

/* Input fields style */
input[type="text"],
input[type="password"] {
    width: 100%; /* Adjusted width for padding */
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 16px;
    transition: all 0.3s ease;
}
/* Focus style for inputs */
input[type="text"]:focus,
input[type="password"]:focus {
    border-color: #7D8ABC;
    outline: none;
    box-shadow: 0 0 5px rgba(125, 138, 188, 0.5);
}

/* Register button style */
.register-button {
    padding: 10px;
    background-color: #304463;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.register-button:hover {
    background-color: #3b5a87;
}